<!DOCTYPE html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    {% if content_for_header contains 'skiocheck.com' %}{% render 'skio-head'
    %}{% endif %}
    <meta
      name="bold-checkout-styles"
      content="{{ 'bold-checkout.css' | asset_url }}"
    />

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="theme-color" content="{{ settings.color_button }}" />
    <link rel="canonical" href="{{ canonical_url }}" />
    <meta name="format-detection" content="telephone=no" />

    {%- if settings.favicon -%}
    <link
      rel="shortcut icon"
      href="{{ settings.favicon | img_url: '32x32' }}"
      type="image/png"
    />
    {%- endif -%} {% include 'seo-title' %}
    <title>{{ seo_title }}</title>

    {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}" />
    {%- endif -%} {% include 'social-meta-tags' %} {% include 'font-face' %}
    {{
      "theme.scss.css" | asset_url | stylesheet_tag
    }}

    <script>
      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');

      window.theme = window.theme || {};
      theme.routes = {
        cart: "{{ routes.cart_url }}",
        cartAdd: "{{ routes.cart_add_url }}",
        cartChange: "{{ routes.cart_change_url }}"
      };
      theme.strings = {
        addToCart: {{ 'products.product.add_to_cart' | t | json }},
        soldOut: {{ 'products.product.sold_out' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }},
        stockLabel: {{ 'products.product.stock_label' | t: count: '[count]' | json }},
        willNotShipUntil: {{ 'products.product.will_not_ship_until' | t: date: '[date]' | json }},
        willBeInStockAfter: {{ 'products.product.will_be_in_stock_after' | t: date: '[date]' | json }},
        waitingForStock: {{ 'products.product.waiting_for_stock' | t | json }},
        cartSavings: {{ 'cart.general.savings_html' | t: savings: '[savings]' | json }},
        cartEmpty: {{ 'cart.general.empty' | t | json }},
        cartTermsConfirmation: {{ 'cart.general.terms_confirm' | t | json }}
      };
      theme.settings = {
        dynamicVariantsEnable: true,
        dynamicVariantType: {{ settings.variant_type | json }},
        cartType: {{ settings.cart_type | json }},
        moneyFormat: {{ shop.money_format | json }},
        predictiveSearch: {{ settings.predictive_search_enabled }},
        predictiveSearchType: {{ settings.search_type | json }},
        inventoryThreshold: {{ settings.inventory_threshold }},
        quickView: {{ settings.quick_shop_enable }},
        themeName: 'Motion',
        themeVersion: "5.0.5"
      };
    </script>

    {{
      content_for_header
    }}
    {%- render 'bold-common' -%} {%- render 'bold-ro-init' -%}

    <script src="{{
        'vendor-scripts-v9.js' | asset_url | split: '?' | first
      }}"></script>

    {%- if shop.enabled_currencies.size > 1 -%}
    <link
      rel="preload"
      as="style"
      href="{{ 'currency-flags.css' | asset_url }}"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <noscript
      ><link rel="stylesheet" href="{{ 'currency-flags.css' | asset_url }}"
    /></noscript>
    {%- endif -%}

    <script src="{{ 'theme.js' | asset_url }}"></script>

    {%- if request.page_type contains 'customers/' -%}
    <script
      src="{{ 'shopify_common.js' | shopify_asset_url }}"
      defer="defer"
    ></script>
    {%- endif -%}
    <!-- Zapiet | Store Pickup + Delivery -->
    {% include 'storepickup' %}
    <!-- Zapiet | Store Pickup + Delivery -->

    {% render 'pagefly-header' %}

    <!--Gem_Page_Header_Script-->
    {% include 'gem-app-header-scripts' %}
    <!--End_Gem_Page_Header_Script-->

    {% render 'shogun-head' %}

    <style>
      .d_buttonsec {
        position: absolute;
        left:0;
        right: 0;
        bottom: 0;
        margin: 0 1rem;
      }
      .d_btncart.btn {
        position: absolute;
        height: 40px;
        box-sizing: border-box;
        border: none;
        background-color: #178840;
        opacity: 0.7;
        box-shadow: none;
        text-align: center;
        font-size: 36px;
        pointer-events: auto;
        transition: background-color 0.2s;
        right: 0;
        bottom: 1rem;
        min-width: 65px;
        width: 90px;
        border-radius: 40px;
        transition-property: width, border-radius;
        transition-duration: 0.35s;
      }
      .d_btncart.btn:hover,
      .d_btncart.btn:focus {
        background-color: #ffffff;
      }
      .quick-add-button:disabled .product-tile__quick-add-plus,
      .quick-add-button:disabled .product-tile__quick-add-minus{
        display:none;
      }
      .fa-spin{
        vertical-align: 2px;
        color: white;
        font-size:1.4rem;
      }
      .quick-add-button{
        opacity: 0.7;
        bottom: 1rem;
        position: absolute;
        height: 40px;
        line-height: 40px;
        box-sizing: border-box;
        border: none;
        background-color: #178840;
        box-shadow: none;
        text-align: center;
        font-size: 36px;
        pointer-events: auto;
        transition: background-color .2s;
      }

      .quick-add-button:hover{
        background-color:#fff;
      }
      .quick-add-button:hover .fa-spin{
        color:#178840;
      }
      .quick-add-button:hover .product-tile__quick-add-minus{
        background-color: #178840;
      }
      .quick-add-button:hover .product-tile__quick-add-plus{
        color:#178840;
      }
      .add-button-remove{
        width: calc(50% - 1px);
        left: 0;
        right: auto;
        min-width: 10px;
        opacity: 1;
        border-radius: 40px 0 0 40px;
        transition-property: width,left,opacity;
        transition-duration: .35s;
      }
      .add-button-add{
        width: 50%;
        right: 0;
        min-width: 65px;
        border-radius: 0 40px 40px 0;
      }
      @media screen and (max-width:580px){
        .quick-add-button{
          bottom: -0.5rem;
        }
        .add-button-add{
          min-width: 0;
        }
      }
      .d_buttonsec .product__quantity .dqtywrap {
        
        max-width: 100%;
        display: flex;
        align-items: stretch;
      }
      .d_buttonsec .product__quantity .dqtywrap input {
        order: 2;
        padding: 5px;
      }
      .d_buttonsec .product__quantity .dqtywrap button {
        position: static;
        width: 50px;
        display: flex;
        align-items: center;
        background: #178841;
        border-color: #178841;
        color: #fff;
        justify-content: center;
      }
      .product-tile__quick-add-minus{
        width: 18px;
        height: 2px;
        background: #f9f8f4;
        margin-left: calc(50% - 9px);
      }
      .product-tile__quick-add-plus {
        position: relative;
        width: 18px;
        height: 18px;
        margin-left: calc(50% - 9px);
        color:#f9f8f4;
      }
      .product-tile__quick-add-plus::before {
        left: 8px;
        width: 2px;
        height: 18px;
      }
      .product-tile__quick-add-plus::after {
        top: 8px;
        right: 0;
        height: 2px;
        width: 18px;
      }
      .product-tile__quick-add-plus::after,
      .product-tile__quick-add-plus::before {
        position: absolute;
        background-color: currentColor;
        content: "";
        transition: background-color 0.2s;
      }
      .d_btncart.btn:hover .product-tile__quick-add-plus::after,
      .d_btncart.btn:hover .product-tile__quick-add-plus::before{
        background-color: #178841;
      }
      .d_buttonsec .product__quantity .dqtywrap button svg {
        fill: #fff;
        stroke: #fff;
      }
      .d_buttonsec .product__quantity .dqtywrap .js-qty__adjust--minus {
        order: 1;
        border-radius: 20px 0 0 20px;
      }
      .d_buttonsec .product__quantity .dqtywrap .js-qty__adjust--plus {
        order: 3;
        border-radius: 0 20px 20px 0;
      }
      .cart-link__bubble--visible {
        background-color: transparent !important;
        border: 0px !important;
      }

      .site-header-sticky .predictive-results {
        z-index: 999;
      }
      .site-header-sticky .predictive-results .page-width {
        padding-top: 30px;
      }

      .site-header-sticky .predictive-results .predictive__result-meta {
        width: calc(100% - 120px);
      }

      .site-header-sticky
        .predictive-results
        .predictive__result-meta
        .grid-product__title {
        text-align: left;
      }
    </style>
    <script>
      $(document).ready(function () {
        setTimeout(function () {
          $("#zapiet-delivery-validator__topbar").show();
          $(".nofg").click(function () {
            //$(this).addClass('activeghh');
            $("#zapiet-delivery-validator__topbar").show();
          });
        }, 1700);
        //$("#hide").click(function(){
      });
      // $("#show").click(function(){
      //   $("#zapiet-delivery-validator__topbar").show();
      // });
      //});
    </script>

    {% include 'previewer-head-template' %}
  </head>

  <body
    class="template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}"
    data-transitions="{{ settings.animate_page_transitions }}"
  >
    {% if settings.animate_page_transitions %}
    <script type="text/javascript">
      window.setTimeout(function () {
        document.body.className += " loaded";
      }, 25);
    </script>
    {% endif %}

    <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{
      "general.accessibility.skip_to_content" | t
    }}</a>

    <div id="PageContainer" class="page-container">
      <div class="transition-body">
        {% section 'header' %}

        <main class="main-content" id="MainContent">
          {{ content_for_layout }}
        </main>

        {% section 'footer' %}
      </div>
    </div>

    {% section 'newsletter-popup' %} {%- if settings.cart_type == 'drawer' -%}
    {%- include 'ajax-cart-template' -%}
    <div id="storePickupApp"></div>
    {%- endif -%} {%- if settings.predictive_search_enabled -%} {%- include
    'predictive-template' -%} {%- endif -%} {% comment %} Custom markup for
    slider arrows using theme icons {% endcomment %}
    <div class="hide">
      <button
        id="prevArrowTemplate"
        class="slick-prev"
        aria-label="{{ 'general.pagination.previous' | t }}"
        type="button"
      >
        <svg
          aria-hidden="true"
          focusable="false"
          role="presentation"
          class="icon icon-chevron-left"
          viewBox="0 0 284.49 498.98"
        >
          <path
            d="M249.49 0a35 35 0 0 1 24.75 59.75L84.49 249.49l189.75 189.74a35.002 35.002 0 1 1-49.5 49.5L10.25 274.24a35 35 0 0 1 0-49.5L224.74 10.25A34.89 34.89 0 0 1 249.49 0z"
          />
        </svg>
        <span class="icon__fallback-text">{{
          "general.pagination.previous" | t
        }}</span>
      </button>
      <button
        id="nextArrowTemplate"
        class="slick-next"
        aria-label="{{ 'general.pagination.next' | t }}"
        type="button"
      >
        <svg
          aria-hidden="true"
          focusable="false"
          role="presentation"
          class="icon icon-chevron-right"
          viewBox="0 0 284.49 498.98"
        >
          <path
            d="M35 498.98a35 35 0 0 1-24.75-59.75l189.74-189.74L10.25 59.75a35.002 35.002 0 0 1 49.5-49.5l214.49 214.49a35 35 0 0 1 0 49.5L59.75 488.73A34.89 34.89 0 0 1 35 498.98z"
          />
        </svg>
        <span class="icon__fallback-text">{{
          "general.pagination.next" | t
        }}</span>
      </button>
    </div>

    {% include 'video-modal' %} {% include 'photoswipe-template' %}
    <!--Gem_Page_Footer_Script-->
    {% include 'gem-app-footer-scripts' %}
    <!--End_Gem_Page_Footer_Script-->
    {% include 'smile-initializer' %} {% include 'storepickup-bold-ro' %}

    <!-- Begin ReCharge code -->
    {% include 'subscription-theme-footer' %}
    <!-- End ReCharge code -->
    <script
      defer
      src="https://connect.podium.com/widget.js#API_TOKEN=cd0d837f-a846-44cb-8b27-43837efdecd2"
      id="podium-widget"
      data-api-token="cd0d837f-a846-44cb-8b27-43837efdecd2"
    ></script>
    {% include 'previewer-template' %}
  </body>
</html>
